$color-dim: #696969;
$color-lightbrown: #fff3db;
$color-burly: #DEB887;
$color-saddle: #8B4513;
$color-white: #ffffff;
$color-golden: #DAA520;


body {
  min-width: 399px;
  margin: auto;
}

.main--allergies {
  height: 90vh;
  padding-top: 10px;
  margin: 0px 140px;
  background: #fffaf0;
  box-shadow: 0px 0px 20px $color-dim;
}

.submain--allergies {
}

.div--titleallergies h1 {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
  font-size: 2.8rem;
  font-family: 'Dancing Script', cursive;
  color: $color-golden;
  text-shadow: 2px 1px 2px $color-saddle;
}

.lactose {
  margin-top: 50px;
  margin-left: 20px;
  font-family: 'Dancing Script', cursive;
  font-size: 2.0rem;
  color: $color-golden;
  text-shadow: 1px 1px 1px $color-saddle;
}

.lactose--art {
  position: relative;
  width: 100%;
  margin: auto;
  background: $color-lightbrown;
  border: 1px solid $color-burly;
  z-index: 3;
}

.lactose--art p {
  font-size: 1.1rem;
  padding-right: 40px;
  padding-left: 20px;
  text-align: justify;
  text-indent: 10px;
  color: black;
  text-shadow: 0px 0px 0px $color-white;
}

.gluten {
  margin-left: 20px;
  font-family: 'Dancing Script', cursive;
  font-size: 2.0rem;
  color: $color-golden;
  text-shadow: 1px 1px 1px $color-saddle;
}

.gluten--art {
  position: relative;
  width: 100%;
  margin: auto;
  margin-bottom: 20px;
  background: $color-lightbrown;
  border: 1px solid $color-burly;
  z-index: 3;
  &:p {
    font-size: 1.1rem;
    padding-right: 40px;
    padding-left: 20px;
    text-align: justify;
    text-indent: 10px;
    color: black;
    text-shadow: 0px 0px 0px $color-white;
  }
}

.bg_mainbreadaller {
  position: fixed;
  margin: auto;
  top: 80px;
  width: 100%;
  opacity: 0.2;
  &:img {
    width: 80%;
    margin: auto;
    margin-top: 86px;
  }
}